@font-face {
  font-weight: 700;
  font-family: "PT Sans Narrow";
  font-style: normal;

  src: url("../fonts/ptsansnarrowbold.woff") format("woff"),
  url("../fonts/ptsansnarrowbold.woff2") format("woff2");
}

@font-face {
  font-weight: 400;
  font-family: "PT Sans Narrow";
  font-style: normal;

  src: url("../fonts/ptsansnarrow.woff") format("woff"),
  url("../fonts/ptsansnarrow.woff2") format("woff2");
}

html,
body {
  min-width: 960px;
  margin: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;

  background: #000000 url("../img/tint.jpg") no-repeat center top;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  margin-bottom: 60px;

  color: #ffffff;

  background-color: #000000;
}

.header-logo {
  float: left;
  width: 140px;
}

.header-logo a {
  display: block;
  width: 111px;
  height: 24px;
  padding: 23px 20px;
}

.main-navigation {
  float: left;
  width: 640px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;

  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
}

.main-navigation a {
  display: block;
  padding: 25px 20px;

  color: #ffffff;
  text-decoration: none;
}

.main-navigation a:hover {
  background: #242424;
}

.main-navigation a.active {
  box-shadow: inset 0 -5px 0 0 #ffffff;
}

.user-block {
  float: right;
  width: 140px;
}

.login {
  position: relative;

  display: inline-block;
  padding: 25px 20px;
  padding-left: 50px;

  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
}

.login:hover {
  background-color: #242424;
}

.login::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 20px;

  width: 18px;
  height: 18px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -156px -10px;
  opacity: 0.3;
}

.login:hover::before {
  opacity: 1;
}

.index-logo {
  width: 368px;
  height: 204px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.index-logo img {
  width: 368px;
  height: 204px;
}

.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;

  text-align: center;
}

.features-item:last-child {
  margin-right: 0;
}

.features-name {
  position: relative;

  display: block;
  margin-bottom: 30px;
  padding-bottom: 35px;

  font-size: 30px;
  line-height: 42px;
}

.features-item p {
  margin: 10px;
  margin-bottom: 0;
}

.features-name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;

  display: block;
  width: 20px;
  height: 20px;
  margin-left: -10px;

  background-color: #ffffff;
  transform: rotate(45deg);
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;

  color: #000000;

  background: url("../img/content-shadow.png") no-repeat center,
  #f8f5f2 url("../img/bg-content.jpg");
}

.index-content-left {
  float: left;
  width: 380px;
}

.index-content-right {
  float: right;
  width: 300px;
}

.index-content-title {
  margin: 0;
  margin-bottom: 25px;

  font-size: 30px;
  line-height: 42px;
}

.index-content p {
  margin: 0;
  margin-bottom: 25px;
}

.news-preview {
  margin: 0;
  padding: 0;
  padding-right: 35px;

  list-style: none;
}

.news-preview li {
  margin-bottom: 25px;
}

.news-preview p {
  margin-bottom: 0;
}

.news-preview time {
  text-transform: none;
}

.btn {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 33px;

  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #000000;
  border: none;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #663d15;
}

.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.btn.disabled:hover,
.btn:disabled:hover {
  background-color: #000000;
}

.gallery {
  position: relative;

  height: 260px;
}

.gallery-content {
  height: 164px;
  margin: 0;

  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.gallery .btn {
  position: absolute;
  bottom: 0;

  width: 140px;
  margin: 0;
}

.gallery-prev {
  left: 0;
}

.gallery-next {
  right: 0;
}

.appointment-form input {
  float: left;
  width: 106px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 7px 15px;

  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.appointment-form input:focus {
  border: 2px solid #663d15;
}

.appointment-form input:nth-child(2n) {
  margin-right: 0;
}

.appointment-form .btn {
  clear: both;
  width: 100%;
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;

  color: #ffffff;

  background: #252525 url("../img/bg-footer.jpg");
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}

.footer-contacts a {
  color: #ffffff;
}

.footer-contacts a:hover {
  text-decoration: none;
}

.footer-social {
  float: left;
  width: 180px;

  text-align: center;
}

.footer-copyright {
  float: right;
  width: 180px;
}

.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}

.social-btn {
  position: relative;

  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;

  font-size: 0;
  vertical-align: top;
  text-decoration: none;

  background: #000000;
}

.social-btn:hover {
  background-color: #ffffff;
}

.social-btn-vk:hover::before {
  width: 25px;
  height: 16px;

  background-position: -239px -10px;
}

.social-btn-fb:hover::before {
  width: 12px;
  height: 22px;

  background-position: -42px -10px;
}

.social-btn-inst:hover::before {
  width: 21px;
  height: 21px;

  background-position: -115px -10px;
}

.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  background: url("../img/sprite.png") no-repeat;
  transform: translate(-50%, -50%);
}

.social-btn-vk::before {
  width: 25px;
  height: 16px;

  background-position: -194px -10px;
}

.social-btn-fb::before {
  width: 12px;
  height: 22px;

  background-position: -10px -10px;
}

.social-btn-inst::before {
  width: 21px;
  height: 21px;

  background-position: -74px -10px;
}

.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;

  text-align: center;
}

.footer-copyright .btn {
  margin-right: 0;
}

.footer-copyright .btn:hover {
  color: #000000;

  background-color: #ffffff;
}

.inner-page {
  background: #faf7f4 url("../img/bg-content.jpg") repeat;
}

.container h1 {
  margin: 0;
  margin-bottom: 15px;

  font-size: 30px;
  color: #000000;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
}

.breadcrumbs li {
  position: relative;

  display: inline-block;
  padding-left: 40px;

  font-size: 14px;
  vertical-align: top;
}

.breadcrumbs li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 16px;

  display: block;
  width: 8px;
  height: 8px;

  background: #000000;
  transform: rotate(45deg);
}

.breadcrumbs li:first-child::before {
  display: none;
}

.breadcrumbs li:first-child {
  padding-left: 0;
}

.breadcrumbs li.active {
  color: #aba9a7;
}

.breadcrumbs a {
  color: #000000;
  text-decoration: none;
}

.sidebar {
  float: left;
  width: 220px;
}

.sidebar-top {
  min-height: 286px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  border-style: none;
}

.sidebar-bottom {
  min-height: 220px;
  margin: 0;
  padding: 0;

  border-style: none;
}

.sidebar legend {
  margin-bottom: 20px;
  padding: 0;

  font-size: 24px;
  color: #000000;
}

.sidebar input {
  display: none;
}

.sidebar input + label {
  position: relative;

  display: block;
  margin: 0;
  margin-bottom: 20px;
  padding-left: 45px;

  font-size: 14px;
  line-height: 20px;
  color: #000000;

  cursor: pointer;
}

.sidebar input + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 16px;
  height: 16px;

  border: 2px solid #000000;
}

.sidebar input[type=radio] + label::before {
  border-radius: 50%;
}

.sidebar input[type=checkbox]:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;

  width: 12px;
  height: 12px;

  background: url("../img/sprite.png") no-repeat;
  background-position: -284px -10px;
}

.sidebar input[type=radio]:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;

  width: 8px;
  height: 8px;

  background: #000000;
  border-radius: 50%;
}

.sidebar input:disabled + label::before {
  border: 2px solid #aaa9a6;
  cursor: default;
}

.sidebar input:disabled + label::after {
  cursor: default;
  opacity: 0.3;
}

.sidebar .btn {
  width: 112px;
  margin: 0;
}

.catalog {
  float: right;
  width: 700px;

  font-size: 0;
}

.catalog-item {
  display: inline-block;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;

  font-size: 14px;
  vertical-align: top;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.catalog-item:nth-child(3n+3) {
  margin-right: 0;
}

.item-image {
  width: 220px;
  min-height: 165px;
  margin: 0;
}

.item-image img {
  display: block;
}

.item-details {
  padding: 15px;
}

.item-details .item-type {
  display: block;
  width: 150px;
  margin: 0;

  font-size: 14px;
  line-height: 18px;
  text-transform: none;
}

.item-details .item-name {
  display: block;
  width: 150px;
  margin: 0;
  margin-bottom: 15px;

  font-size: 14px;
  line-height: 18px;
}

.item-details > a {
  color: #000000;
  text-decoration: none;
}

.wrapper-price-and-buy {
  width: 187px;

  font-size: 0;
}

.wrapper-price-and-buy .item-price {
  display: inline-block;
  box-sizing: border-box;
  width: 109px;
  padding: 14px 5px 13px;

  font-size: 14px;
  line-height: 1.28;
  vertical-align: middle;
  text-align: center;
  color: #000000;

  background-color: #e5e5e5;
}

.wrapper-price-and-buy .btn {
  margin: 0;
  padding: 10px 18px;
}

.pagination {
  width: 230px;
  margin-top: 25px;

  font-size: 0;
}

.pagination .btn {
  margin-right: 7px;
  padding: 10px 18px;
}

.pagination a.active {
  color: #000000;

  background: #ffffff;
}

.pagination a:last-child {
  margin-right: 0;
}

.item {
  float: left;
  width: 460px;
}

.large-content-image {
  margin: 0;
  margin-bottom: 20px;
}

.large-content-image img {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.thumbnails {
  width: 460px;
  margin: 0;

  font-size: 0;
}

.thumbnails a {
  margin-right: 20px;
}

.thumbnails img {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.thumbnails a:last-child {
  margin-right: 0;
}

.item-description {
  float: right;
  width: 390px;

  color: #000000;
}

.item-availability {
  display: inline-block;
  width: 90px;
  margin-right: 140px;

  vertical-align: bottom;
}

.item-articulus {
  display: inline-block;
  width: 140px;
  margin-right: 10px;

  vertical-align: bottom;
  text-align: right;
  color: #aeaeae;
}

.item-about {
  width: 390px;
  margin: 38px 0;
}

.item-description .wrapper-price-and-buy {
  margin: 0;
  margin-bottom: 65px;
}

.components-list span {
  display: block;
  margin: 0;
  margin-bottom: 35px;

  font-size: 24px;
}

.components-list ul {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.components-list li {
  position: relative;

  margin: 0;
  margin-bottom: 9px;
  padding-left: 21px;
}

.components-list li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;

  display: block;
  width: 8px;
  height: 8px;

  background: #000000;
  transform: rotate(45deg);
}

/** {
  outline: 1px solid black;
}*/
